<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <ul class="social-networks">
                    <li><a href="https://www.facebook.com/shahidullah.shahid.7"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a></li>
                    <li><a href="https://twitter.com/RueteteShahid"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a></li>
                    <li><a href="https://plus.google.com/117857584370425892579"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a></li>
                    <a href="https://plus.google.com/117857584370425892579"><i id="social-in" class="fa fa-linkedin-square fa-3x social"></i></a>
                </ul>
            </div>
        </div>
        <p style="color:black; font-size:15px; font-weight: bold">©{{Year}} MD SHAHIDULLA. All rights reserved</p>
    </div>
</footer>
