<div class="container">
  <div class="container" id="insidecontainer">

         <h1 class="text-center">Few of my projects</h1>
        <div *ngFor="let project of projects" class="col-md-12 projects">
            <h3>{{project.name}}</h3>
            <p class="trunc" style="font-size:16px">{{project.description}}</p>
            <p>
              <span style="font-size:18px;">Environment&nbsp;:</span>{{project.environment}}
            </p>
        </div>
</div>
</div>
<div class="footer-div">
    <footer-component></footer-component>
</div>
